@import "./mixin";

* {
  // RWD(min-width: 900px)
  @include for-size(tablet-landscape-up) {
    .item-group {
      display: flex;
    }

    .service {
      .item {
        display: flex;

        .pic,.text {
          width: 50%;
        }

        .pic {
          display: flex;
        }

        .text {
          box-sizing: border-box;
          padding: 1rem;
        }
      }
    }
  }
  // RWD(min-width: 1200px)
  @include for-size(desktop-up) {
    font-size: 20px;
  }
  // initialize

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

img {
  vertical-align: top; //override default [baseline]
}

.banner img {
  width: 100%;
}

.text {
  overflow-y: hidden;
  max-height: inherit;
  padding: 10px 0;

  h3 {
    font-size: 1.3rem;
  }
}



.title {
  padding: .75rem;
  background-color: #bbbbbb;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  p {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.item {
  flex: 1 1 200px;
  margin: 0 10px 20px;

  .pic img {
    width: 100%;
  }
}

.service {
  margin: 20px 0;
  background-color: #ddffff;

  .item {
    margin: auto 2rem;
    font-size: 1rem;
  }
}


footer {
  padding: 10px 0;
  text-align: center;
  color: #dddddd;
  background-color: #333333;
}

.single-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi_ellipsis {
  // setting for ellipsis, to hide some content to keep layout uniform
  $line-height-value: 1rem;
  $number-lines: 10;

  display: block; // assure it is block element
  display: -webkit-box;
  overflow: hidden;
  height: $line-height-value * $number-lines;
  line-height: $line-height-value;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-lines;
}
